/* fonts */
@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Light.woff2') format('woff2'),
      url('Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
#root{
  width:100vw;
  height: 100vh;
}
/* reset & common styles */
body, ul, h1, h2, h3, a, div,h4{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Quicksand';
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
body{ 
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  

}
/* button{
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
} */




/* lists */


/* pages */
.home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.home h4{
  /* text-align: right; */
  font-size: 30px;
  
  
}
.home h1{
  /* text-align: center; */
  font-weight: bold;
  font-size: 60px;
}
/* .home a{
  padding-bottom: 40vh;
  margin-top: 50px;
 

} */
.home.fonts{
  /* padding-bottom: 50vh; */
  
  flex-direction: row;  
}

.home.fonts a{
  padding: 1%;
}
.home.fonts a button{
  color: white;
  background: transparent;
  border-radius: 50px;
  border: white;
  cursor: pointer;
}
.home.next{
  padding-bottom: 50vh;

 
}
.home.next button{
  color: white;
  border-radius: 50px;
  cursor: pointer;
  opacity: 1;

}

/* about */
.about{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  align-content: flex-start;
}
.about header{
  font-size: 5rem;
  margin-bottom: 30px;
  color: black;
  font-family: 'Quicksand';


  
}
.about-1{
  display: flex;
  flex-direction: row;
}
.about-1 p{
  border: 3px solid white;
  padding: 10px;
  color: black;
  width: 45%;
  order:3;
  margin-left: 50px;
  margin-right: 40px;
}
.about-1 img{
  order:2;
  
  margin-left: 40px;
  border: 4px solid white;
  width: 250px;
  height: 250px;
  border-radius: 100px;
  

}
.about-1 button{
  color: white;
  border-radius: 50px;
  cursor: pointer;
  opacity: 1;
  margin-top: 80px
}
.button-1{
  order:1
}
.button-2{
  order: 4;
}
.about-2{
  margin-bottom: 20vh;
}
.about-2 button{
  color: black;
  background-color:transparent;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid;
  height: 50px;
  width: 100px;
  order: 0;
}
/* Education */
.education{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  /* align-content: flex-end; */
  flex-direction: column;
  
}
.education-1{
  display: flex;
  width: 100%;
  margin-top:100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}
 .education-1 section{
  margin-left: 30px;
} 
.education-1 button{
  color: white;
  border-radius: 50px;
  cursor: pointer;
  opacity: 1;
  
}
.school{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.education-2{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top:50px;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.education-2 img{
  width: 50px;
  height: 50px;

}
.education-2 section{
  margin-left: 30px;
}

/*sidebars*/
.navbar {
  background-color:linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  
  
}

.nav-menu {
  background-color: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 30px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.hidden{
  display: none;

}
.center{
  text-align: right;
  margin: auto;
  max-width: 800px;
}
